<div class="page-header">
      <h2>Create A Thing</h2>
    </div>
    <form class="form-horizontal" role="form">
      <div {{bind-attr class=":form-group errors.name.firstObject:has-error"}}>
        <label for="thing_name" class="col-lg-2 control-label">Basic Validation</label>
        <div class="col-lg-5">
          {{input type="text" 
            class="form-control"
            id="thing_name"
            placeholder="Example Company Name"
            value=name
          }}
          <span class="help-block">Required field and minimum length (>=3).</span>
        </div>
        <div class="col-lg-5">
          {{#if errors.name.firstObject}}
            <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.name.firstObject}}</span>
          {{/if}}
        </div>
      </div>
      
      
      <form class="form-horizontal" role="form">
      <div {{bind-attr class=":form-group errors.name2.firstObject:has-error"}}>
        <label for="vali2" class="col-lg-2 control-label">VAL 2</label>
        <div class="col-lg-5">
          {{input type="text" 
            class="form-control"
            id="vali2"
            placeholder="Add another"
            value=name2
          }}
          <span class="help-block">Required field and minimum length (>=7).</span>
        </div>
        <div class="col-lg-5">
          {{#if errors.name2.firstObject}}
            <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.name2.firstObject}}</span>
          {{/if}}
        </div>
      </div>
      
      
      <form class="form-horizontal" role="form">
      <div {{bind-attr class=":form-group errors.name3.firstObject:has-error"}}>
        <label for="vali3" class="col-lg-2 control-label">VAL 3</label>
        <div class="col-lg-5">
          {{input type="text" 
            class="form-control"
            id="vali3"
            placeholder="Add another"
            value=name3
          }}
          <span class="help-block">Required field and odd number.</span>
        </div>
        <div class="col-lg-5">
          {{#if errors.name3.firstObject}}
            <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.name3.firstObject}}</span>
          {{/if}}
        </div>
      </div>
      
      <form class="form-horizontal" role="form">
      <div {{bind-attr class=":form-group errors.name4.firstObject:has-error"}}>
        <label for="vali4" class="col-lg-2 control-label">VAL 4</label>
        <div class="col-lg-5">
          {{input type="text" 
            class="form-control"
            id="vali4"
            placeholder="Add another"
            value=name4
          }}
          <span class="help-block">NON Required numbers n lettrs only.</span>
        </div>
        <div class="col-lg-5">
          {{#if errors.name4.firstObject}}
            <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.name4.firstObject}}</span>
          {{/if}}
        </div>
      </div>
      
      
      <form class="form-horizontal" role="form">
      <div {{bind-attr class=":form-group errors.name5.firstObject:has-error"}}>
        <label for="vali5" class="col-lg-2 control-label">VAL 5</label>
        <div class="col-lg-5">
          {{input type="text" 
            class="form-control"
            id="vali5"
            placeholder="Add another"
            value=name5
          }}
          <span class="help-block">e-mail.</span>
        </div>
        <div class="col-lg-5">
          {{#if errors.name5.firstObject}}
            <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.name5.firstObject}}</span>
          {{/if}}
        </div>
      </div>
      
      <form class="form-horizontal" role="form">
      <div {{bind-attr class=":form-group errors.name6.firstObject:has-error"}}>
        <label for="vali6" class="col-lg-2 control-label">VAL 6</label>
        <div class="col-lg-5">
          {{input type="text" 
            class="form-control"
            id="vali6"
            placeholder="Add another"
            value=name6
          }}
          <span class="help-block">NON req field and phone nr.</span>
        </div>
        <div class="col-lg-5">
          {{#if errors.name6.firstObject}}
            <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.name6.firstObject}}</span>
          {{/if}}
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-5">
          <button type="submit" class="btn btn-primary" {{bind-attr disabled="isInvalid"}}{{action 'GetData'}}>Create</button>
         
        </div>
      </div>
